{% extends 'base.html.twig' %}

{% block title %}
  Erreur
{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  <style>
    .error-container {
      height: calc(100vh - 60px);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    h2 {
      font-size: 36px;
      color: #333;
      margin-bottom: 1em;
    }
    p {
      font-size: 18px;
      color: #555;
      margin-bottom: 2em;
    }
    .btn {
      padding: 10px 20px;
      border-radius: 20px;
      background-color: #3498db;
      color: #fff;
      text-decoration: none;
    }
  </style>
{% endblock %}

{% block body %}
  <div class="error-container">
    <h2>Une erreur est survenue</h2>
    <p>Une erreur inconnue est survenue et votre demande ne peut pas être traitée pour le moment.</p>
    <a href="{{ path('app_produit_index') }}" class="btn">Retour à l'accueil</a>
  </div>
{% endblock %}
